In [16]:
#import statements
import pandas as pd
import numpy as np
import astropy.units as u
import astropy.constants as c
import matplotlib.pyplot as plt

import scipy
import scipy.integrate
from scipy.misc import derivative
from scipy import integrate 

from mpl_toolkits.mplot3d import Axes3D
from matplotlib.animation import FFMpegWriter

In [17]:
K11Data = pd.read_csv('Kepler11Data.csv', header=None)

In [22]:
K11Data

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_controv_flag,pl_orbper,pl_orbpererr1,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
1,Kepler-11 b,Kepler-11,1,6,Transit,2010,Kepler,0,10.30390000,0.00060000,...,-6.3750000,13.8170000,0.0920000,-0.0920000,12.1800000,0.0200000,-0.0200000,13.7062000,0.0002710,-0.0002710
2,Kepler-11 c,Kepler-11,1,6,Transit,2010,Kepler,0,13.02410000,0.00130000,...,-6.3750000,13.8170000,0.0920000,-0.0920000,12.1800000,0.0200000,-0.0200000,13.7062000,0.0002710,-0.0002710
3,Kepler-11 d,Kepler-11,1,6,Transit,2010,Kepler,0,22.68450000,0.00090000,...,-6.3750000,13.8170000,0.0920000,-0.0920000,12.1800000,0.0200000,-0.0200000,13.7062000,0.0002710,-0.0002710
4,Kepler-11 e,Kepler-11,1,6,Transit,2010,Kepler,0,31.99960000,0.00080000,...,-6.3750000,13.8170000,0.0920000,-0.0920000,12.1800000,0.0200000,-0.0200000,13.7062000,0.0002710,-0.0002710
5,Kepler-11 f,Kepler-11,1,6,Transit,2010,Kepler,0,46.68880000,0.00270000,...,-6.3750000,13.8170000,0.0920000,-0.0920000,12.1800000,0.0200000,-0.0200000,13.7062000,0.0002710,-0.0002710
6,Kepler-11 g,Kepler-11,1,6,Transit,2010,Kepler,0,118.38070000,0.00100000,...,-6.3750000,13.8170000,0.0920000,-0.0920000,12.1800000,0.0200000,-0.0200000,13.7062000,0.0002710,-0.0002710

In [23]:
K11Data.iloc[1,13]

'0.001000'

In [32]:
for i in range(1,6):
    e=(float(K11Data.iloc[i,13])*1.496*10**11)*u.meter #eccentricity in meters (csv in AU)
    Mp=(float(K11Data.iloc[i,25])*5.972*10**24)*u.kg #planet mass in kg (csv in Earth masses)
    T=(float(K11Data.iloc[i,9]))*u.d #orbital period in days
    initpos=(e*np.cbrt((c.G*Mp*T)/(4*np.pi)**2))#defining initial position
    print(initpos)

192188156262.46835 d(1/3) m2 / s(2/3)
317015605771.59235 d(1/3) m2 / s(2/3)
182562268621.1005 d(1/3) m2 / s(2/3)
432903007273.939 d(1/3) m2 / s(2/3)
526600706946.2557 d(1/3) m2 / s(2/3)